
/*----------------------------------*\
                $INTERFACE
\*----------------------------------*/

.header {
    position: absolute;
    top: 0; left: 0;right: 0;
    height: 60px; line-height: 60px;
    color: #FFF;
    text-transform: uppercase;
    background-color: #222;
    padding: 0px 20px;
}

#icone_gps {
    position: absolute;
    top: 0px;
    font-size: 20px;
    right: 10px;
}

.view {
    position:absolute;
    top: 60px; right: 0;
    bottom: 60px; left: 0;
}

.nav {
    position: absolute;
    bottom: 0;left: 0;right: 0;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #4f597b;
}

.nav a {
    display: block;
    width: 49%;
    height: 60px;
    line-height: 60px;
    float: left;
    color: white;
    font-size: 30px;
}

.nav a:hover, .nav a:focus {
    color: white;
}

.nav a:first-child {
    border-right: 1px solid #1f253d;
}

.nav .active {
    border-top: 3px solid #11a7ab;
}

.panel {
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    overflow-x: hidden;
    overflow-y:scroll;
}

.panel-padding {
    padding: 0 25px;
}

#debut_geo {
    display: none;
}

/*----------------------------------*\
    Module Alerte
\*----------------------------------*/

#module_alerte {
    position: absolute;
    z-index: 100;
    display: none;
    border-radius: 0px;
    width: 100%;
}
