
body {
    font-family: 'Open Sans', sans-serif !important;
    color: #666;
    a {
        cursor: pointer;
    }
}

#header {
    font-family: 'Englebert', cursive;
    background-color: #1E1E1E;
    font-size: 21px;
    line-height: 49px;
    height: 49px;
    width: 100%;
    position: fixed;
    top: 0px; left: 0px; right: 0px;
    z-index: 50;
    text-align: center;
    color: white;
    border-bottom: 1px solid black;
    .sidebar {
        float: left;
        height: 49px;
        color: #ccc;
        font-size: 18px;
        width: 49px;
    }
    .sidebar:hover {
        background: rgba(255, 255, 255, 0.1)
    }
    .etat {
        float: right;
        height: 49px;
        color: #ccc;
        font-size: 18px;
        width: 49px;
    }
    .etat:hover {
        background: rgba(255, 255, 255, 0.1)
    }
}

#connexion_profil {
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(22, 22, 22, .95);
    z-index: 100;
    right: 0px;
    bottom: 0px;
    color: white;
    text-align: center;
    display: none;
    input {
        width: 90%;
        margin: 10px auto;
    }
    .alert {
        display: none;
    }
    .close {
        margin: 5px;
        color: white;
        opacity: 0.5;
    }
    .close:hover {
        opacity: 0.9;
    }
}

.view {
    padding: 15px;
    padding-top: 60px;
    #map {
        width: 100%;
        height: 500px;
    }
}
