<section class="panel panel-padding" ng-controller="SessionController">
    <center><a id="debut_geo" class="btn btn-primary btn-sm">Acquisition</a></center><br/>
    
    <div class="alert">
        
    </div>
    
    <ul>
        <li ng-repeat="ligne in liste">
            {{ligne.test}}
        </li>
    </ul>

    <table id="geolocalisation" class="table table-striped"> 
        <thead>
            <tr> 
                <th>Latitude</th> 
                <th>Longitude</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</section>

<script>
    
</script>