<section class="panel panel-padding" ng-controller="SessionController">
    <center><a id="debut_geo" class="btn btn-primary btn-sm">Acquisition</a></center><br/>
    
    <div class="alert">
        
    </div>

    <table id="geolocalisation" class="table table-striped"> 
        <thead>
            <tr> 
                <th>Latitude</th> 
                <th>Longitude</th>
            </tr>
        </thead>
        <tbody >
            <!-- Parcourt de la liste des coordonées GPS -->
            <tr ng-repeat="item in listeAcquisitions">
                <td>
                {{item.latitude}}
                </td>
                <td>
                {{item.longitude}}
                </td>
            <tr>
        </tbody>
    </table>
</section>
<script>
    
</script>