<section class="panel panel-padding" ng-controller="StatistiquesSessionController">
	
	<center><a class="btn btn-primary btn-sm" ng-click="lissageSession()">Calculer les stats</a></center>
	
	</br></br>
	
	<center><b>Distance totale</b> : {{session.distanceParcouru}} km</center></br>
	<center><b>Durée de la session</b> : {{session.dureeSession}} secondes</center>
	
	
	<!-- Div contenant le graphique -->
	<div id="simpleExample" class="chartWrapper"></div>
	
	
	<table id="test" class="table table-striped" ng-show="true">
        <thead>
            <tr>
                <th>Stats par tranche</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in tableauStats">
                <td> {{item.distance}} km</td>
                <td> {{item.duree}} s</td>
               <td> {{item.vitesseMoyenne}} km/h</td>
            <tr>
        </tbody>
    </table>
    
</section>