<section class="panel panel-padding" ng-controller="StatistiquesSessionController">

    <!--<center><a class="btn btn-primary btn-sm" ng-click="lissageSession()">Calculer les stats</a></center>-->
    <h3 align="center">Statistiques de votre session</h3>

    <b>Distance totale</b> : {{session.distanceParcouru| number : 2}} km<br>
    <b>Durée de la session</b> : {{ session.dureeSessionString}}<br>
    <b>Vitesse moyenne</b> : {{session.vitesseMoyenne| number : 2}} km/h<br>
    <b>Vitesse minimale</b> : {{session.vitesseMin| number : 2}} km/h<br>
    <b>Vitesse maximale</b> : {{session.vitesseMax| number : 2}} km/h<br><br>


    <!-- Div contenant le graphique -->
    <center><b>Vitesse au cours du temps : </b></center>
    <div align="center" id="VitesseTemps" class="chartWrapper"></div>
    <!--
    <table id="test" class="table table-striped" ng-show="true">
    <thead>
        <tr>
            <th>Stats par tranche</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in tableauStats">
            <td> {{item.distance}} km</td>
            <td> {{item.duree}} s</td>
           <td> {{item.vitesseMoyenne}} km/h</td>
        <tr>
    </tbody>
</table>-->
</section>