<section ng-controller="SessionController">
    <h3>Accueil</h3>
    <p>
        Bienvenue dans l'application Run Believable. Cette application vous permet d'enregistrer vos sessions de courses facilement avec beaucoup de variables et d'informations.
    </p>
    <hr>
    <h3>Release notes</h3>
    <table>
        <tbody>
            <tr>
                <td>07/05/2014</td>
                <td>
                    <ul>
                        <li>Refactoring du projet pour avoir une architecture conventionnelle</li>
                        <li>GPS fonctionnel sur le téléphone</li>
                        <li>Ajout de l'accéléromètre</li>
                        <li>Ajout d'une page core avec toutes les valeurs du Gps et de l'accéléromètre</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <center>
        <a href ="#sessionEnCours"> <button type="button" class="btn btn-sm btn-success btn-lg"  >Démarrer une session</button> </a>

    </center>
    <br/>
</section>
<script></script>