<section ng-controller="ListeSessionsController">
    <fieldset>
        <legend>Mes sessions</legend>

        <a ng-click="afficherSession($index);" class="btn btn-block btn-default" ng-repeat="session in listeSession track by $index">
            {{session.reference}} - {{session.date| date:'dd/MM'}}<br/>{{session.nom}}
        </a>
    </fieldset><br/><br/>

    <fieldset>
        <legend>Sessions personnalisées</legend>

        <!-- Affichage de la liste des sessions de l'utilisateur -->
        <a class="btn btn-block btn-default" ng-repeat="session in listeSessionPersonnalises track by $index" >
            {{session.nom}}
        </a>
    </fieldset>
</section>