<section ng-controller="ProfilController">

    <center> <h1> Données physiologiques cardio-vasculaire   </h1> </center>

    </br></br</br>

    </br>


    <div class="form-group">

        <label for="FCRepos" class="col-sm-2 control-label">    FC repos :</label>
        <div class="col-sm-10">
            <input type="text" name="FCRepos" class="form-control" id="FCRepos" placeholder="FC repos" value ="{{user.FCRepos}}">
        </div>
        </br>
        </br>
        <a id="profil_cardio" class="btn btn-primary btn-sm" href="#profil" >Valider</a>
        <a id="" class="btn btn-primary btn-sm" href="#profil" >Retour</a>
    </div>
</section>