<section ng-controller="ProfilController">
    
    <center> <h1> Meilleures performances </h1> </center>
    

    </br>
        </br>

            </br>
    </br>

    
        <div class="form-group">

        <label for="cinquante" class="col-sm-2 control-label">50 m :</label>
        <div class="col-sm-10">
            <input type="text" name="cinquante" class="form-control" id="cinquante" placeholder="50m" value="{{user.cinquante}}">
        </div>
        </br>
        
        <label for="cent" class="col-sm-2 control-label"> 100m :</label>
        <div class="col-sm-10">
            <input type="text" name="cent" class="form-control" id="cent" placeholder="100m" value="{{user.cent}}">
        </div>
        </br>
        
        <label for="deuxcent" class="col-sm-2 control-label"> 200m :</label>
        <div class="col-sm-10">
            <input type="text" name="deuxcent" class="form-control" id="deuxcent" placeholder="200m" value="{{user.deuxcent}}">
        </div>
        </br>
        
        <label for="400m" class="col-sm-2 control-label">400m :</label>
        <div class="col-sm-10">
            <input type="text" name="quatrecent" class="form-control" id="quatrecent" placeholder="400m" value="{{user.quatrecent}}">
        </div>
        </br>
        
        
        <label for="800m" class="col-sm-2 control-label">800m :</label>
        <div class="col-sm-10">
            <input type="text" name="huitcent" class="form-control" id="huitcent" placeholder="800m" value="{{user.huitcent}}">
        </div>
        </br>
        
        <label for="mille" class="col-sm-2 control-label">1000m :</label>
        <div class="col-sm-10">
            <input type="text" name="mille" class="form-control" id="mille" placeholder="mille" value="{{user.mille}}">
        </div>
        </br>
        
        <label for="millecinqcent" class="col-sm-2 control-label"> 1500m :</label>
        <div class="col-sm-10">
            <input type="text" name="millecinqcent" class="form-control" id="millecinqcent" placeholder="1500m" value="{{user.millecinqcent}}">
        </div>
        </br>
        
        <label for="troismille" class="col-sm-2 control-label"> 3000m :</label>
        <div class="col-sm-10">
            <input type="text" name="troismille" class="form-control" id="troismille" placeholder="3000m" value="{{user.troismille}}">
        </div>
        </br>
        
        <label for="cinqmille" class="col-sm-2 control-label">5000m :</label>
        <div class="col-sm-10">
            <input type="text" name="cinqmille" class="form-control" id="cinqmille" placeholder="5000m" value="{{user.cinqmille}}">
        </div>
        </br>
        
        
        <label for="dixkils" class="col-sm-2 control-label">10km :</label>
        <div class="col-sm-10">
            <input type="text" name="dixkils" class="form-control" id="dixkils" placeholder="10km" value="{{user.dixkils}}">
        </div>
        </br>
        
                
        <label for="vingtetunkils" class="col-sm-2 control-label">21km :</label>
        <div class="col-sm-10">
            <input type="text" name="vingtetunkils" class="form-control" id="vingtetunkils" placeholder="21km" value="{{user.vingtetunkils}}">
        </div>
        </br>
        
                
        <label for="quarantedeuxkils" class="col-sm-2 control-label">42km :</label>
        <div class="col-sm-10">
            <input type="text" name="quarantedeuxkils" class="form-control" id="quarantedeuxkils" placeholder="42km" value="{{user.quarantedeuxkils}}">
        </div>
        </br>
        
                
        <label for="centkils" class="col-sm-2 control-label">100km :</label>
        <div class="col-sm-10">
            <input type="text" name="centkils" class="form-control" id="centkils" placeholder="100km" value="{{user.centkils}}">
        </div>
        </br>
        
                
        <label for="uneheure" class="col-sm-2 control-label">1h :</label>
        <div class="col-sm-10">
            <input type="text" name="uneheure" class="form-control" id="uneheure" placeholder="1h" value="{{user.uneheure}}">
        </div>
        </br>
                
        <label for="sixheure" class="col-sm-2 control-label">6h :</label>
        <div class="col-sm-10">
            <input type="text" name="sixheure" class="form-control" id="sixheure" placeholder="6h" value="{{user.sixheure}}">
        </div>
        </br>
        
                
        <label for="vingtquatreheure" class="col-sm-2 control-label">24h :</label>
        <div class="col-sm-10">
            <input type="text" name="vingtquatreheure" class="form-control" id="vingtquatreheure" placeholder="24h" value="{{user.vingtquatreheure}}">
        </div>
        </br>
        </br>
        
        <a id="profil_performance" class="btn btn-primary btn-sm" href="#profil" >Valider</a>
        <a id="" class="btn btn-primary btn-sm" href="#profil" >Retour</a>
        
        
    </div>
</section>