<section ng-controller="ProfilController">

    <center> <h1> Explosivité </h1> </center>

    </br></br</br>

    
    </br>

    <div class="form-group">

        <label for="detente" class="col-sm-2 control-label">Détente sèche  :</label>
        <div class="col-sm-10">
            <input type="text" name="detente" class="form-control" id="detente" placeholder="Détente sèche " value="{{user.detente}}">
        </div>
        </br>
        
        <label for="hauteurMoy" class="col-sm-2 control-label"> Qualité de pied (hauteur moyenne) :</label>
        <div class="col-sm-10">
            <input type="text" name="hauteurMoy" class="form-control" id="hauteurMoy" placeholder="Qualité de pied (hauteur moyenne)" value="{{user.hauteurMoy}}">
        </div>
        </br>
        
        <label for="tempsAuSol" class="col-sm-2 control-label"> Qualité de pied ( temps au sol moyen) :</label>
        <div class="col-sm-10">
            <input type="text" name="tempsAuSol" class="form-control" id="tempsAuSol" placeholder="Qualité de pied ( temps au sol moyen) " value="{{user.tempsAuSol}}">
        </div>
        </br>
        
        <label for="frequenceMax" class="col-sm-2 control-label">Frequence maximal de mouvement :</label>
        <div class="col-sm-10">
            <input type="text" name="frequenceMax" class="form-control" id="frequenceMax" placeholder="Frequence maximal de mouvement" value="{{user.frequenceMax}}">
        </div>
        </br>
        
        
        <label for="pentabond" class="col-sm-2 control-label">Pentabond :</label>
        <div class="col-sm-10">
            <input type="text" name="pentabond" class="form-control" id="pentabond" placeholder="Pentabond" value="{{user.pentabond}}">
        </div>
        </br>
        </br>
        
        <a id="profil_explosivite" class="btn btn-primary btn-sm" href="#profil" >Valider</a>
        <a id="" class="btn btn-primary btn-sm" href="#profil" >Retour</a>
    </div>

</section>