

<section ng-controller="SessionController">

    <div class="text-center">
        <p>
            <a class="btn btn-primary" ng-click="clickAcquisition()" ng-show="gestionnaires.gps.actif && (gestionnaires.gps.gps_acquisition_actif === false)">
                {{texte_bouton_acquisition}}
            </a>
            <a class="btn btn-warning" ng-click="clickAcquisition()" ng-show="gestionnaires.gps.actif && gestionnaires.gps.gps_acquisition_actif">
                {{texte_bouton_acquisition}}
            </a>
        </p>
        <p>
            <input type="text" class="form-control" placeholder="Nom de la session ..." ng-model="session.nom" ng-show="(gestionnaires.gps.gps_acquisition_actif === false) && (session.listeAcquisitions.length > 0)">
        </p>
        <p>
            <a ng-click="sauvegarderSession()"><button type="button" class="btn btn-info" ng-show="(gestionnaires.gps.gps_acquisition_actif === false) && (session.listeAcquisitions.length > 0)">Sauvegarder</button></a>
        </p>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <td rowspan="2" style="font-size: 28px;">
                    <span id="chronotime">0:00:00</span>
                    <span ng-show="enPause" id="pauseTime">En pause</span>
                </td>
                <td>
                    <div id="vitesseActuelle" style="display: inline-block;">0</div> km/h
                </td>
            </tr>
            <tr>
                <td>{{session.calorie| number : 0}} calories perdues</td>
            </tr>
        </tbody>
    </table>

    <div id="map"></div>
</section>