
<div class="popup">
    <div class="scroll" style="width: 100%;">
        <table class="table" style="margin-bottom: 0px;">
            <tbody>
                <tr>
                    <td>
                        <img alt="logo" src="ressources/img/logo.png"/>
                        <h3>Connexion</h3>
                        <div class="alert-danger alert"></div>
                        <p>
                            Bienvenue sur l'application RunBelievable, vous pouvez utiliser cette application en local ou en synchronisant vos données sur notre base de données.
                        </p><br/>
                        <p>
                            <a ng-click="connexionLocal()" class="btn btn-info btn-sm">Local</a>
                            <a href="#/compte/inscription" class="btn btn-primary btn-sm">Inscription</a>
                            <a href="#/compte/login" class="btn btn-default btn-sm">Connexion</a>
                        </p>
                    </td>
                </tr>
        </table>
    </div>
</div>
