
<div class="popup">
    <div class="scroll" style="text-align: left;">
        <a href="#/compte" class="close-popup"><i class="fa fa-long-arrow-left"></i> Précédent</a>
        <h3 style="margin-top: 30px;">Création d'un profil</h3>
        <p>
            Vous n'avez pas de profil stocké sur ce téléphone. Pour pouvoir utiliser cette application vous devez créer un profil.
        </p><br/>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="nom" class="col-sm-2 control-label">Nom du profil</label>
                <div class="col-sm-10">
                    <input type="text" name="nom" class="form-control" id="nom" placeholder="Nom du profil">
                </div>
            </div>
        </form><br/>
        <p>
            <button ng-click="creationProfil()" id="btn_inscription" class="btn btn-primary btn-sm">Créer le profil</button>
        </p>
    </div>
</div>
